@import "~bootstrap/scss/bootstrap";

.container {
	margin: 15px;
}

.col-4 {
	padding: 20px;
}

.col-8 {
	padding-right: 0px;
	padding-left: 0px;
}

.pro-pic {
	width: 50%;
}

.navbar {
	background-color: #e3f2fd;
}

.like-btn {
	padding: 25px;
}